@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  font-family: 'Inconsolata', monospace; 
  background-image: url("https://github.com/corgi912/portfolio/blob/master/hihibye.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bigheading {
  font-size: 75px;
  color: #091244
}

}

.sports {
  font-size: 50px;
  color: #102178
}


}
.animals {
  font-size: 50px;
  color: #152BAO
} 

}
.food {
  font-size: 50px;
  color: #1C36C1
}

h1 {
  font-style: italic;
  font-size: 50px;
  color: #0F0600;
  border: 5px dotted white;
}

p {
  color: #0F0600;
}
  
