@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  font-family: 'Inconsolata', monospace; 
  background-image: url("https://github.com/corgi912/portfolio/blob/master/hihibye.jpg?raw=true");
}

h1 {
  font-style: italic;
  font-size: 50px;
  color: #33A2FF;
  border: 5px dotted blue;
}

p {
  color: #33FFA2;
}
  
