@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  font-family: 'Inconsolata', monospace;  
}

h1 {
  font-style: italic;
  font-size: 50px;
  color: #33A2FF;
}

p {
  color: #33FFA2;
}
  
